<div class="td-footer-wrapper td-container-wrap td-footer-template-14 ">
    <div class="td-container td-footer-bottom-full">
        <div class="td-pb-row">
            <div class="td-pb-span3">
                <aside class="footer-logo-wrap">
                    <a href="index.html">
                        <img class="td-retina-data" src="wp-content/uploads/2017/01/logo-FANPROJ.png" data-retina="https://fanproj.com/wp-content/uploads/2017/01/LOGO-2017.png" alt="" title="" width="544" />
                    </a>
                </aside>
            </div>
            <div class="td-pb-span5">
                <aside class="footer-text-wrap">
                    <div class="block-title">
                        <span>ABOUT US</span>
                    </div>
                    Fanproj Productions & Entertainment is your site,
                    entertainment, movies, series, short clips etc.
                    All are dubbed in your mother language Somali.
                    We provide you with the latest videos & re edited old videos
                    with HD Quality from the entertainment industry.
                    <div class="footer-email-wrap">
                        Contact us:
                        <a href="cdn-cgi/l/email-protection.html#b3daddd5dcf3d5d2ddc3c1dcd99dd0dcde">
                            <span class="__cf_email__" data-cfemail="355c5b535a7553545b45475a5f1b565a58">
                                [email&#160;protected]
                            </span>
                        </a>
                    </div>
                </aside>
            </div>
            <div class="td-pb-span4">
                <aside class="footer-social-wrap td-social-style-2">
                    <div class="block-title"><span>FOLLOW US</span></div>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://www.facebook.com/fanproj" title="Facebook">
                            <i class="td-icon-font td-icon-facebook"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://plus.google.com/+FanprojEU" title="Google+">
                            <i class="td-icon-font td-icon-googleplus"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://www.instagram.com/fanprojnl" title="Instagram">
                            <i class="td-icon-font td-icon-instagram"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://www.twitter.com/fanproj/" title="Twitter">
                            <i class="td-icon-font td-icon-twitter"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://www.youtube.com/user/StudioFanproj" title="Youtube">
                            <i class="td-icon-font td-icon-youtube"></i>
                        </a>
                    </span>
                </aside>
            </div>
        </div>
    </div>
</div>

<div class="td-sub-footer-container td-container-wrap ">
    <div class="td-container">
        <div class="td-pb-row">
            <div class="td-pb-span td-sub-footer-menu">
                <div class="menu-footer-container">
                    <ul id="menu-footer" class="td-subfooter-menu">
                        <li id="menu-item-5956" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-first td-menu-item td-normal-menu menu-item-5956">
                            <a href="terms-of-service/index.html">Terms of Service</a>
                        </li>
                        <li id="menu-item-13240" class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-13240">
                            <a href="privacy-policy/index.html">Privacy Policy</a>
                        </li>
                        <li id="menu-item-5955" class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-5955">
                            <a href="report-dmca/index.html">Report DMCA</a>
                        </li>
                        <li id="menu-item-5953" class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-5953">
                            <a href="advertisement/index.html">Advertisement</a>
                        </li>
                        <li id="menu-item-5952" class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-5952">
                            <a href="about-us/index.html">About Us</a>
                        </li>
                        <li id="menu-item-5954" class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-5954">
                            <a href="contact/index.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="td-pb-span td-sub-footer-copy">
                &copy; Copyright 2014 - 2017 | Fanproj Productions. All rights reserved
            </div>
        </div>
    </div>
</div>
