<div class="td-header-wrap td-header-style-1 ">
    <div class="td-header-top-menu-full td-container-wrap ">
        <div class="td-container td-header-row td-header-top-menu">
            <div class="top-bar-style-1">
                <div class="td-header-sp-top-menu">
                    <ul class="top-header-menu td_ul_login">
                        <li class="menu-item">
                            <a class="td-login-modal-js menu-item" href="#login-form" data-effect="mpf-td-login-effect">Gal Cinwaanka</a>
                            <span class="td-sp-ico-login td_sp_login_ico_style"></span>
                        </li>
                    </ul>
                    <div class="menu-top-container">
                        <ul id="menu-td-top-menu" class="top-header-menu">
                            <li id="menu-item-7237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-first td-menu-item td-normal-menu menu-item-7237">
                                <a href="my-favorities/index.html">
                                    <i class="fa fa-star" aria-hidden="true">
                                    </i>My Favorities
                                </a>
                            </li>
                            <li id="menu-item-7571" class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-7571">
                                <a href="na-weydii-suaashaada/index.html">Weydii Su&#8217;aal</a>
                            </li>
                            <li id="menu-item-7572" class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-7572">
                                <a href="suaalaha-jawaabaha/index.html">Su&#8217;aalaha &#038; Jawaabaha</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="td-header-sp-top-widget">
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://www.facebook.com/fanproj" title="Facebook">
                            <i class="td-icon-font td-icon-facebook"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://plus.google.com/+FanprojEU" title="Google+">
                            <i class="td-icon-font td-icon-googleplus"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://www.instagram.com/fanprojnl" title="Instagram">
                            <i class="td-icon-font td-icon-instagram"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://www.twitter.com/fanproj/" title="Twitter">
                            <i class="td-icon-font td-icon-twitter"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="https://www.youtube.com/user/StudioFanproj" title="Youtube">
                            <i class="td-icon-font td-icon-youtube"></i>
                        </a>
                    </span>
                </div>
            </div>

            <div id="login-form" class="white-popup-block mfp-hide mfp-with-anim">
                <div class="td-login-wrap">
                    <a href="#" class="td-back-button"><i class="td-icon-modal-back"></i></a>
                    <div id="td-login-div" class="td-login-form-div td-display-block">
                        <div class="td-login-panel-title">Sign in</div>
                        <div class="td-login-panel-descr">Welcome! Log into your account</div>
                        <div class="td_display_err"></div>
                        <div class="td-login-inputs">
                            <input class="td-login-input" type="text" name="login_email" id="login_email" value="" required>
                            <label>Cinwaanka</label>
                        </div>
                        <div class="td-login-inputs">
                            <input class="td-login-input" type="password" name="login_pass" id="login_pass" value="" required>
                            <label>Furaha</label>
                        </div>
                        <input type="button" name="login_button" id="login_button" class="wpb_button btn td-login-button" value="Gal Cinwaanka">
                        <div class="td-login-info-text">
                            <a href="#" id="forgot-pass-link">Forgot your password? Get help</a>
                        </div>
                    </div>
                    <div id="td-forgot-pass-div" class="td-login-form-div td-display-none">
                        <div class="td-login-panel-title">Password recovery</div>
                        <div class="td-login-panel-descr">Recover your password</div>
                        <div class="td_display_err"></div>
                        <div class="td-login-inputs">
                            <input class="td-login-input" type="text" name="forgot_email" id="forgot_email" value="" required>
                            <label>your email</label>
                        </div>
                        <input type="button" name="forgot_button" id="forgot_button" class="wpb_button btn td-login-button" value="Send My Password">
                        <div class="td-login-info-text">A password will be e-mailed to you.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="td-banner-wrap-full td-logo-wrap-full td-container-wrap ">
        <div class="td-container td-header-row td-header-header">
            <div class="td-header-sp-logo">
                <h1 class="td-logo">
                    <a class="td-main-logo" href="index.html">
                        <img class="td-retina-data" data-retina="https://fanproj.com/wp-content/uploads/2017/01/LOGO-2017.png" src="wp-content/uploads/2017/01/LOGO-2017.png" alt="" />
                        <span class="td-visual-hidden">Fanproj Productions &amp; Entertainment</span>
                    </a>
                </h1>
            </div>
            <div class="td-header-sp-recs">
                <div class="td-header-rec-wrap">
                    <script async src="../pagead2.googlesyndication.com/pagead/js/f.txt" type="16637aae1e89aa920bda0482-text/javascript"></script>
                    <div class="td-g-rec td-g-rec-id-header td_uid_1_5e5804d795c93_rand td_block_template_14 ">
                        <script type="16637aae1e89aa920bda0482-text/javascript">
                            var td_screen_width = window.innerWidth;
                                                if ( td_screen_width >= 1140 ) {
                                                    /* large monitors */
                                                    document.write('<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-4459630471766167" data-ad-slot="3930855133"></ins>');
                                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                                }

                                                    if ( td_screen_width >= 1019  && td_screen_width < 1140 ) {
                                                        /* landscape tablets */
                                                    document.write('<ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-4459630471766167" data-ad-slot="3930855133"></ins>');
                                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                                    }

                                                if ( td_screen_width >= 768  && td_screen_width < 1019 ) {
                                                    /* portrait tablets */
                                                    document.write('<ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-4459630471766167" data-ad-slot="3930855133"></ins>');
                                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                                }

                                                if ( td_screen_width < 768 ) {
                                                    /* Phones */
                                                    document.write('<ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-4459630471766167" data-ad-slot="3930855133"></ins>');
                                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                                }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="td-header-menu-wrap-full td-container-wrap ">
        <div class="td-header-menu-wrap td-header-gradient ">
            <div class="td-container td-header-row td-header-main-menu">
                <div id="td-header-menu" role="navigation">
                    <div id="td-top-mobile-toggle">
                        <a href="#">
                            <i class="td-icon-font td-icon-mobile"></i>
                        </a>
                    </div>
                    <div class="td-main-menu-logo td-logo-in-header">
                        <a class="td-mobile-logo td-sticky-disable" href="index.html">
                            <img class="td-retina-data" data-retina="https://fanproj.com/wp-content/uploads/2017/01/LOGO-2017.png" src="wp-content/uploads/2017/01/LOGO-2017.png" alt="" />
                        </a>
                        <a class="td-header-logo td-sticky-disable" href="index.html">
                            <img class="td-retina-data" data-retina="https://fanproj.com/wp-content/uploads/2017/01/LOGO-2017.png" src="wp-content/uploads/2017/01/LOGO-2017.png" alt="" />
                        </a>
                    </div>
                    <div class="menu-td-header-menu-container">
                        <ul id="menu-td-header-menu-1" class="sf-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-first td-menu-item td-normal-menu menu-item-6159">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children td-menu-item td-normal-menu menu-item-6153">
                                <a href="all-movies/index.html">Movies</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-4955">
                                        <a href="#">Hindi Af Somali</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-6158">
                                                <a href="fanproj-movies/index.html">Fanproj Movies (NEW)</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-6155">
                                                <a href="all-movies/index.html">Hindi Af Somali</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-477"><a href="category/afsomali/somali/index.html">Somali</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-1044">
                                <a href="#">Series</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-8952">
                                        <a href="http://fanprojseries.com/musalsal/gaf-ganacsi-jaceyl/">Gaf &#038; Ganacsi Jaceyl</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-8951">
                                        <a href="http://fanprojseries.com/musalsal/jaceyl-qurbo-tagay/">Jaceyl Qurbo Tagay</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-8950">
                                        <a href="http://fanprojseries.com/musalsal/aiaw/">Axdi &#038; Amar Waalid</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-8949">
                                        <a href="http://fanprojseries.com/musalsal/xmuw/">Xal Maan U Waayay</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-8948">
                                        <a href="http://fanprojseries.com/musalsal/mid/">Ma Iloobi Doono</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-1700">
                                <a href="category/actors/index.html">Actors</a>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-747">
                                <a href="category/interview/index.html">Interviews</a>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-481">
                                <a href="category/short-clip/index.html">Short Clips</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-search-wrap">
                    <div class="td-search-btns-wrap">
                        <a id="td-header-search-button" href="#" role="button" class="dropdown-toggle " data-toggle="dropdown">
                            <i class="td-icon-search"></i>
                        </a>
                        <a id="td-header-search-button-mob" href="#" role="button" class="dropdown-toggle " data-toggle="dropdown">
                            <i class="td-icon-search"></i>
                        </a>
                    </div>
                    <div class="td-drop-down-search" aria-labelledby="td-header-search-button">
                        <form method="get" class="td-search-form" action="#">
                            <div role="search" class="td-head-form-search-wrap">
                                <input id="td-header-search" type="text" value="" name="s" autocomplete="off" />
                                <input class="wpb_button wpb_btn-inverse btn" type="submit" id="td-header-search-top" value="Search" />
                            </div>
                        </form>
                        <div id="td-aj-search"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>